
/*LAYOUT*/

* {
margin: 0;
border: 0;
}

.wrapper  {
  width: 900px;
  margin: 0 auto;
}

.flex1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*FONTS*/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

li{
  font-size: 17px;
}

#fulldiv {
  animation-duration: 2.5s;
}

#clickfirst {
  transition-duration: 100s;
}

#sher, #click {
  font-family: 'Indie Flower', cursive;
}

/*NAMECARD*/

.cardoutline {
    margin-top: 120px;
    margin-bottom: 50px;
    padding: 5px 0 5px 0;
    border-radius: 25px;
    width: 400px;
    height: 240px;
    background-color: red;
}
.inside {
    background: white;
    width: 400px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.words {
  text-align: center;
  color: white;
}

#hello {
  font-size: 40px;
}

#name , #more {
  font-size: 25px;
  padding-bottom: 3px;
}

#sher, #click{
  font-size: 60px;
  color: black;
}

/*SUMMARY */

#aboutme{
  text-align: center;
  font-size: 20px;
}

#contacts {
  text-align: center;
  font-size: 16px;

}

/*MOREINFO*/

#summary , #history , #skills , #contact {
  font-size: 20px;
  border-style: solid;
  border-width: 1px;
  /*box-shadow: 0 10px 20px rgba(0,0,0,0.5);*/
  display: inline-block;
  padding: 10px 24px;
  border-radius: 5px;
  text-align: center;
  margin: 0 10px;
}

/*HISTORY*/

.background h {
  font-size: 20px;
}
.background li {
  text-align: inherit;
}

/*Contactme*/

input , textarea {
  font-size: 15px;
  padding: 10px;
  border-bottom: 1px solid black;
  width: 400px;
}

#submit {
  border: 0;
  float: right;
  width: 80px;
  margin: 10px;
}

label {
  padding: 20px 0 0 0;
}


/*Transformation*/
.flyawaynamecard2 {
  transform: translate(0, -1000px);
  transition: transform 1000ms ease-in;
}

.moveothers {
  transform: translate(0, -300px);
  transition: transform 1000ms ease-in;
}

.moveme {
  transform: translate(0, -200px);
  transition: transform 1000ms ease-in;
}

.moveskillschart {
  transform: translate(0, -200px);
  transition: transform 1000ms ease-in;
}

.movebackground {
  transform: translate(0, -200px);
  transition: transform 1000ms ease-in;
}

.movecontactme {
  transform: translate(0, -200px);
  transition: transform 1000ms ease-in;
}


/*SKILLBAR*/

span {
  font-size: 20px;
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	transition:0.4s linear;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
  width:250px;
	/*font-weight:bold;*/
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

/*.block li {
    padding: 0 1rem;
    font-size: 24px;
    font-weight: 600;
    display: inline-block;
}*/


/*#aboutme:first-of-type:first-letter {
  float: left;
  font-size: 59px;
  line-height: 65px;
  font-weight: 500;
}*/
